<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <title>intys</title>
</head>

<body>
    <header class="header">
        <img src="<%= require('../images/intys_ver2_top.png') %>" class="top-image"></img>
    </header>
    <main class="wrapper">
        <div class="navigation-container" id="navigation-container">
            <div class="arrow" id="arrow"></div>
            <img src="<%= require('../images/intys_logo01_white.png') %>" class="logo" id="logo"></img>
            <div class="arrow-is-opened dis-arrow" id="arrow-is-opened"></div>
            <div class="dis-menu-list menu-list" id="menu-list">
                <ul>
                    <li><a href="#about">About</a></li>
                    <li><a href="#member">Member</a></li>
                    <li><a href="#blog">Blog</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </div>
            <div class="menu" id="menu">
                <span class="menu-line line01"></span>
                <span class="menu-line line02"></span>
                <span class="menu-line line03"></span>
            </div>
        </div>
        <div class="content-wrapper">
            <section class="about" id="about">
                <div class="section-title title-about">
                    <h1>About</h1>
                </div>
                <div class="service-container">
                    <div class="service design">
                        <h2>Design</h2>
                        <div class="service-text">
                            <p>ヒアリングに基づいたプランに<br>沿って、デザインを作成いたします。<br>人の使うものであることを常に意識して、<br>使う人が迷わない、目的を達成できる<br>デザインを心がけています。
                            </p>
                        </div>
                    </div>
                    <div class="service system">
                        <h2>System</h2>
                        <div class="service-text">
                            <p>お客様の要望をヒアリングし、 <br>現状の問題点を洗い出し、<br>効果的なプランを作成いたします。
                            </p>
                        </div>
                    </div>
                    <div class="service hp">
                        <h2>HP</h2>
                        <div class="service-text">
                            <p>ヒアリングに基づいたプランに沿って、<br>デザインを作成いたします。<br>人の使うものであることを常に意識して、<br>使う人が迷わない、目的を達成できる<br>デザインを心がけています。
                            </p>
                        </div>
                    </div>
                </div>
            </section>

            <section class="member" id="member">
                <div class="section-title title-member">
                    <h1>Member</h1>
                </div>
                <div class="member-name-top">
                    <div class="member-img-top"></div>
                    <p class="member-name-top-jp-name">伊藤 佑将</p>
                    <p class="member-name-top-alphabet-name">Yusuke Ito</p>
                    <div class="member-description-top">
                        <p class="member-description-top-text01">Graphic</p>
                        <p class="member-description-top-text02">UI</p>
                        <p class="member-description-top-text03">Design</p>
                        <p class="member-description-top-text04">Edit</p>
                    </div>
                </div>
                <div class="member-name-bottom">
                    <div class="member-img-bottom"></div>
                    <p class="member-name-bottom-jp-name">中嶋 拓也</p>
                    <p class="member-name-bottom-alphabet-name">Takuya Nakashima</p>
                    <div class="member-description-bottom">
                        <p class="member-description-bottom-text01">Coding</p>
                        <p class="member-description-bottom-text02">HTML</p>
                        <p class="member-description-bottom-text03">CSS</p>
                        <p class="member-description-bottom-text04">JavaScript</p>
                    </div>
                </div>
            </section>

            <section class="blog" id="blog">
                <div class="section-title title-blog">
                    <h1>Blog</h1>
                </div>
                <div class="blog-container">
                    <div class="blog-card blog-left">
                        <div class="blog-img"></div>
                        <p class="blog-data">2020.0322</p>
                        <p class="blog-title">タイトルタイトルタイトル</p>
                    </div>
                    <div class="blog-card blog-middle">
                        <div class="blog-img"></div>
                        <p class="blog-data">2020.0322</p>
                        <p class="blog-title">タイトルタイトルタイトル</p>
                    </div>
                    <div class="blog-card blog-right">
                        <div class="blog-img"></div>
                        <p class="blog-data">2020.0322</p>
                        <p class="blog-title">タイトルタイトルタイトル</p>
                    </div>
                </div>
                <div class="button clearfix" id="button">
                    <a href="#" role="button">More</a>
                </div>
            </section>

            <div class="ro1 ro-group01"></div>
            <div class="ro2 ro-group01"></div>
            <div class="ro3 ro-group01"></div>
            <div class="ro4 ro-group01"></div>
            <div class="ro5 ro-group01"></div>
            <div class="ro6 ro-group01"></div>
            <div class="ro7 ro-group01"></div>
            <div class="ro8 ro-group01"></div>
            <div class="ro9 ro-group01"></div>
            <div class="ro10 ro-group01"></div>
            <div class="ro11 ro-group01"></div>
            <div class="ro12 ro-group01"></div>
            <div class="ro13 ro-group01"></div>
            <div class="ro14 ro-group01"></div>
            <div class="ro15 ro-group01"></div>
            <div class="ro16 ro-group01"></div>
            <div class="ro17 ro-group02"></div>
            <div class="ro18 ro-group02"></div>
            <div class="ro19 ro-group02"></div>
            <div class="ro20 ro-group02"></div>
            <div class="ro21 ro-group02"></div>
            <div class="ro22 ro-group02"></div>
            <div class="ro23 ro-group02"></div>
            <div class="ro24 ro-group02"></div>
            <div class="ro25 ro-group02"></div>
            <div class="ro26 ro-group02"></div>
            <div class="ro27 ro-group02"></div>
            <div class="ro28 ro-group02"></div>
            <div class="ro29 ro-group03"></div>
            <div class="ro30 ro-group03"></div>
            <div class="ro31 ro-group03"></div>
            <div class="ro32 ro-group03"></div>
            <div class="ro33 ro-group03"></div>
            <div class="ro34 ro-group03"></div>
            <div class="ro35 ro-group03"></div>
            <div class="ro36 ro-group03"></div>
            <div class="ro37 ro-group03"></div>
            <div class="ro38 ro-group03"></div>
            <div class="ro39 ro-group03"></div>
            <div class="ro40 ro-group03"></div>
            <div class="ro41 ro-group03"></div>
            <div class="ro42 ro-group03"></div>
            <div class="ro43 ro-group03"></div>
            <div class="ro44 ro-group03"></div>

        </div>
    </main>
    <footer class="footer">
        <div>
            <small>Copyright &copy; 2020 Intys. All Rights Reserved.</small>
        </div>
    </footer>
</body>


</html>
